@charset "utf-8";

main, header, footer, article {border:1px solid gray;
padding:5px}
main {
    max-width:800px;
    display:grid;
    margin:auto;
    text-align: center;
}

table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
    
}
td,th{
    border: 1px solid gray;
}
th{
    background-color: lightblue;
}

table tr:nth-child(odd){
    background:lightblue
    
}
.kiemel{
 background: greenyellow;
 cursor:grab;
    
}
fieldset{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}

